{% load static %}

<div class="container py-vh-3 border-top" data-aos="fade" data-aos-delay="200">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-lg-8 text-center">
        <h3 class="fs-2 fw-light">Stay in touch with my<span class="fw-bold">
          newsletter</span>!
  
      </h3></div>
      <div class="col-12 col-lg-8 text-center">
        <div class="row">
          <div class="grouped-inputs border bg-light p-2">
    <div class="row">
      <div class="col">
        <form class="form-floating">
          <input type="email" class="form-control p-3" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </form>
      </div>
      <div class="col-auto">
        <a href="#" class="btn btn-dark py-3 px-5">Subscribe</a>
      </div>
    </div>
  </div>
  
        </div>
      </div>
    </div>
  </div>
  
      </main>
  
  
  <div class="container text-center py-3 small">Made by ShenSanLumi
  </div>
  </footer>
  
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
   <script>
   AOS.init({
     duration: 800, // values from 0 to 3000, with step 50ms
   });
   </script>
  
   <script>
    let scrollpos = window.scrollY
    const header = document.querySelector(".navbar")
    const header_height = header.offsetHeight
  
    const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
    const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")
  
    window.addEventListener('scroll', function() {
      scrollpos = window.scrollY;
  
      if (scrollpos >= header_height) { add_class_on_scroll() }
      else { remove_class_on_scroll() }
  
      console.log(scrollpos)
    })



    /* ------------------------- */
/* Version en JavaScript pur */
/* ------------------------- */
"use strict";
window.addEventListener("DOMContentLoaded", (event) => {
  animate_text();
});
// -------------------
function animate_text() 
{
  let delay = 20,
      delay_start = 0,
      contents,
      letters;

  document.querySelectorAll(".lead").forEach(function (elem) {
    contents = elem.textContent.trim();
    elem.textContent = "";
    letters = contents.split("");
    elem.style.visibility = 'visible';

    letters.forEach(function (letter, index_1) {
      setTimeout(function () {
        // ---------
        // effet machine à écrire (SIMPLE)
        elem.textContent += letter;
        // ---------
        // OU :
        // effet machine à écrire + animation CSS (SPECIAL)
        /*
        var span = document.createElement('span');
        span.innerHTML = letter.replace(/ /,'&nbsp;');
        elem.appendChild(span);
*/
        // ---------
      }, delay_start + delay * index_1);
    });    
    delay_start += delay * letters.length;
  });
}


  </script>
  
    </body>
  </html>